{ns stresty.tests.core
 import #{stresty}

 simple-crud-2
 {:zen/tags #{stresty/case}
  :desc "Simple CRUD tutorial"
  :steps
  [{:desc "Clear all patients"
    :POST "/$sql"
    :body "TRUNCATE patient"
    :match {:status 200}}
   {:id :create
    :desc "Create test pt"
    :POST "/Patient"
    :body {:id "pt-1" :name [{:given ["Vladislav"]}]}
    :match {:status 201
            :body {:id "pt-1"
                   :meta {:versionId stresty/string?}}}}
   {:id :read
    :GET "/Patient/pt-1"
    :desc "Read patient"
    :match {:status 200 :body {:id "pt-1"}}}]}}
