{ns     stresty.tests.core
 import #{stresty}

 simple-crud-1
 {:zen/tags #{stresty/case}
  :desc     "Simple CRUD tutorial"
  :steps
  [
   {:desc  "Get patient"
    :id    :acces-patient
    :agent :user
    :GET   "/Patient/{user.data.patient_id}"
    :match {:status 200
            :body   { :id "new-patient"}}}]}}
