{ns stresty.aidbox
 import #{stresty}

 truncate-step
 {:zen/tags #{zen/schema stresty/step}
  :type zen/map
  :require #{:truncate}
  :keys {:truncate {:type zen/vector
                    :every {:type zen/case
                            :case [{:when {:type zen/string}}
                                   {:when {:type zen/keyword}}]}}}}

 save
 {:zen/tags #{zen/schema stresty/step}
  :type zen/map
  :require #{:resources}
  :keys {:resources {:type zen/vector
                     :every {:type zen/map
                             :require #{:id :resourceType}}}}}

 delete
 {:zen/tags #{zen/schema stresty/step}
  :type zen/map
  :require #{:resources}
  :keys {:resources {:type zen/vector
                     :every {:type zen/map
                             :require #{:id :resourceType}}}}}

 sql-step
 {:zen/tags #{zen/schema stresty/step}
  :type zen/map
  :require #{:sql}
  :keys {:sql {:type zen/string}}}

 auth-token
 {:zen/tags #{zen/schema stresty/auth-method}
  :type zen/map
  :require #{:username :password :client-id :client-secret}
  :keys {:username {:type zen/string}
         :password {:type zen/string}
         :client-id {:type zen/string}
         :client-secret {:type zen/string}}}}
