{:paths    ["src" "resources"]
 :jvm-opts []
 :deps     {org.clojure/clojure             {:mvn/version "1.10.0"}
            org.martinklepsch/clj-http-lite {:mvn/version "0.4.1"}
            clj-http                        {:mvn/version "3.11.0"}
            cheshire                        {:mvn/version "5.6.3"}
            zen-lang/zen                    {:git/url "https://github.com/zen-lang/zen"
                                             :sha     "e041504bb4c4e560052cfe4390b1ed32b4328f94"}
            org.clojure/tools.cli           {:git/url "https://github.com/clojure/tools.cli"
                                             :sha     "c84e20639257d05b46583db73e203cc0cc275d64"}
            clj-commons/clj-yaml            {:mvn/version "0.7.0"}
            com.sun.xml.bind/jaxb-core      {:mvn/version "2.3.0.1"}
            com.sun.xml.bind/jaxb-impl      {:mvn/version "2.3.2"}
            javax.xml.bind/jaxb-api         {:mvn/version "2.4.0-b180830.0359"}
            borkdude/edamame                {:mvn/version "0.0.11-alpha.16"}
            http-kit                        {:mvn/version "2.5.0"}
            route-map                       {:mvn/version "0.0.7"}
            ring/ring                       {:mvn/version "1.7.1"}}

 :aliases {:nrepl
           {:extra-paths ["dev" "target/shadow/dev" "target/stylo/dev"]
            :extra-deps  {org.clojure/clojure           {:mvn/version "1.10.0"}
                          cider/cider-nrepl             {:mvn/version "0.25.2"}
                          refactor-nrepl/refactor-nrepl {:mvn/version "2.4.0"}
                          re-frisk                      {:mvn/version "1.1.0"}
                          binaryage/devtools            {:mvn/version "1.0.0"}
                          com.cognitect/test-runner     {:git/url "https://github.com/cognitect-labs/test-runner"
                                                         :sha     "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}}

           :ui {:extra-paths ["src-ui" "src-c"]
                :extra-deps  {org.clojure/clojurescript {:mvn/version "1.10.764"}
                              re-frame                  {:mvn/version "0.12.0"}
                              reagent                   {:mvn/version "0.10.0"}
                              reagent-utils             {:mvn/version "0.3.3"}
                              route-map                 {:mvn/version "0.0.7"}
                              thheller/shadow-cljs      {:mvn/version "2.11.4"}
                              medley                    {:mvn/version "1.3.0"}
                              garden                    {:mvn/version "1.3.10"}}}

           :native-image
           {:main-opts ["-m clj.native-image core"
                        "--initialize-at-build-time"
                        ;; optional native image name override
                        "-H:Name=core"]
            :jvm-opts  ["-Dclojure.compiler.direct-linking=true"]
            :extra-deps
            {clj.native-image
             {:git/url "https://github.com/taylorwood/clj.native-image.git"
              :sha     "7708e7fd4572459c81f6a6b8e44c96f41cdd92d4"}}}

           :build
           {:extra-paths ["build"]
            :jvm-opts    ^:replace ["-XX:-OmitStackTraceInFastThrow"]
            :extra-deps  {cambada {:git/url "https://github.com/HealthSamurai/cambada"
                                   :sha     "a8ccf922e516e3249e96ae63dadd91d5f01e83f5"}}
            :main-opts   ["-m" "cambada.uberjar"
                          "--main" "core"
                          "--app-group-id" "hs" 
                          "--app-artifact-id" "stresty"
                          #_"--app-version" #_"1.0.0"]}
           :run-test {:extra-paths ["test"]
                      :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                               :sha     "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}
                      :main-opts   ["-m" "cognitect.test-runner"]}}}
