{:paths    ["src" "resources"]
 :jvm-opts []
 :deps     {org.clojure/clojure             {:mvn/version "1.11.0-alpha1"}
            http-kit/http-kit               {:mvn/version "2.5.3"}
            org.martinklepsch/clj-http-lite {:mvn/version "0.4.3"}
            cheshire                        {:mvn/version "5.6.3"}
            hiccup/hiccup                   {:mvn/version "2.0.0-alpha2"}
            zen-lang/zen                    {:git/url "https://github.com/zen-lang/zen"
                                             :sha "3a0ccdbc4c6acf62af583d0831c5bac3a6533232"}
            route-map/route-map             {:mvn/version "0.0.7"}
            ;; ring/ring                    {:mvn/version "1.7.1"}
            }

 :aliases {:nrepl
           {:extra-paths ["dev" "target/shadow/dev" "target/stylo/dev"  "examples"]
            :extra-deps  {org.clojure/clojure           {:mvn/version "1.10.0"}
                          cider/cider-nrepl             {:mvn/version "0.25.2"}
                          refactor-nrepl/refactor-nrepl {:mvn/version "2.4.0"}
                          re-frisk                      {:mvn/version "1.1.0"}
                          binaryage/devtools            {:mvn/version "1.0.0"}
                          com.cognitect/test-runner     {:git/url "https://github.com/cognitect-labs/test-runner"
                                                         :sha     "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}}

           :stresty
           {:main-opts ["-m" "core"]}

           :ui {:extra-paths ["src-ui" "src-c"]
                :extra-deps  {org.clojure/clojurescript {:mvn/version "1.10.764"}
                              re-frame/re-frame                  {:mvn/version "0.12.0"}
                              reagent/reagent                   {:mvn/version "0.10.0"}
                              reagent-utils/reagent-utils             {:mvn/version "0.3.3"}
                              route-map/route-map                 {:mvn/version "0.0.7"}
                              thheller/shadow-cljs      {:mvn/version "2.11.4"}
                              medley/medley                    {:mvn/version "1.3.0"}
                              garden/garden                    {:mvn/version "1.3.10"}
                              markdown-to-hiccup/markdown-to-hiccup        {:mvn/version "0.6.2"}}}

           :native-image
           {:main-opts ["-m clj.native-image stresty.core"
                        "--no-fallback"
                        "--report-unsupported-elements-at-runtime"
                        "--initialize-at-build-time"
                        ;; "--initialize-at-run-time=org.httpkit.client.ClientSslEngineFactory\\$SSLHolder"
                        ;; "--initialize-at-build-time=org.httpkit.client.ClientSslEngineFactory\\$SSLHolder"
                        "-H:ReflectionConfigurationFiles=reflection.json"
                        "-H:EnableURLProtocols=http,https,resource,file"
                        "-H:IncludeResources=.*edn"
                        "--enable-all-security-services"
                        ;; "--native-image-info"
                        ;; "--verbose"
                        ;; optional native image name override
                        "-H:Name=sty"
                        "-H:+ReportExceptionStackTraces"]

            :jvm-opts  ["-Dclojure.compiler.direct-linking=true"
                        "-Dclojure.spec.skip-macros=true"]

            :dependencies [[borkdude/clj-reflector-graal-java11-fix "0.0.1-graalvm-20.3.0"]]

            :extra-deps
            {clj.native-image/clj.native-image
             {:git/url "https://github.com/taylorwood/clj.native-image.git"
              :sha "7708e7fd4572459c81f6a6b8e44c96f41cdd92d4"}}}

           :build
           {:extra-paths ["build"]
            :jvm-opts    ^:replace ["-XX:-OmitStackTraceInFastThrow"]
            :extra-deps  {cambada {:git/url "https://github.com/HealthSamurai/cambada"
                                   :sha     "a8ccf922e516e3249e96ae63dadd91d5f01e83f5"}}
            #_:main-opts #_ ["-m" "cambada.uberjar"
                            "--main" "core"
                            "--app-group-id" "hs" 
                            "--app-artifact-id" "stresty"
                            #_"--app-version" #_"1.0.0"]}
           :run-test {:extra-paths ["test"]
                      :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                               :sha     "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}
                      :main-opts   ["-m" "cognitect.test-runner"]}}}
