{ns aidbox.search
 import #{sty}

 case
 {:zen/tags #{sty/case}
  :title "Test case"
  :steps
  {clean
   {:desc "Clear all patients"
    :POST "/$sql"
    :body "TRUNCATE patient"
    :response {:status 200}}

   pts
   {:desc  "Create number of patients"
    :PUT "/"
    :body [{:resourceType "Patient" :id "pt-1"}
           (sty/file "fixtures/patient.json")]
    :response {:status 200
               :body [{:id "pt-1"}]}}

   find
   {:GET (sty/uri "Patient" {:_id (sty/get-in pts [:body 0 :id])})
    :response {:status 200 :body {:id sty/string?}}}





   }}}
