{ns     stresty.tests.core
 import #{stresty}


 
 simple-crud-1
 {:zen/tags #{stresty/case}
  :desc     "Simple CRUD tutorial"
  :steps
  [
   {:desc "Create patient"
    :id :create-patient
    :agent :admin
    :POST "/Patient"
    :body {:id "new-patient"
           :name [{:given ["Luke"]
                   :family "Skywalker"}]
           :birthDate "2145-08-12"
           :gender "male"}}
   {:desc "Link user to patient"
    :id :link-user-to-patient
    :agent :admin
    :PATCH "/User/{user.id}"
    :body {:data {:patient_id "new-patient"}}}
   {:desc "Delete"
    :id :delet-access-policy
    :agent :admin
    :DELETE "/AccessPolicy/patient-access-new"}
   {:desc  "Get patient"
    :id    :acces-patient
    :agent :user
    :GET   "/Patient/{user.data.patient_id}"
    :match {:status 403}}
   {:desc "Add access policy"
    :id :add-access-policy
    :agent :admin
    :POST "/AccessPolicy"
    :body {:id "patient-access-new"
           :engine "matcho"
           :matcho {:uri "#/Patient/.*"
                    :user {:data {:patient_id ".params.resource/id"}}}}}
   {:desc  "Get patient"
    :id    :acces-patient
    :agent :user
    :GET   "/Patient/{user.data.patient_id}"
    :match {:status 200
            :body {:id "{user.data.patient_id}"}}}]}}
