{ns     user
 import #{stresty stresty.aidbox}

 config
 {:zen/tags #{stresty/config}
  :url      "http://access-policy-box.aidbox.io"
  :agents   {:default {:type          stresty/basic-auth
                       :client-id     "stresty"
                       :client-secret "stresty"}
             :user    {:type          stresty.aidbox/auth-token
                       :username      "patient-user"
                       :password      "admin"
                       :client-id     "myapp"
                       :client-secret "verysecret"}}}

 create-patient
 {:zen/tags #{stresty/case}
  :title    "Create Patient"
  :desc     "This scenario shows you, how to create a new Patient resource in Aidbox"
  :steps    [{:type     stresty.aidbox/truncate-step
              :truncate [:Patient]}
             {:type  stresty/http-step
              :POST  "/Patient"
              :ctx [:id]
              :body  {:id "new-patient" :name [{:family "Smith" :given ["John"]}]}
              :match {:status 221}}
             {:type  stresty/http-step
              :GET   "/Patient/new-patient"
              :agent :user
              :match {:status 200
                      :body   {:id "new-patient"}}}]}

 put-patient
  {:zen/tags #{stresty/case}
     :desc     "Put Patient"
     :steps    [{:type  stresty/http-step
                 :PUT   "/Patient/pt-1"
                 :body  {:name [{:family "Smith" :given ["John"]}]}
                 :match {:status 201}}
                {:type  stresty/http-step
                 :GET   "/Patient/pt-1"
                 :match {:status 200
                         :body   {:name [{:family "Smith" :given ["John"]}]}}}]}

 }

