{ns aidbox
 import #{sty
          aidbox.simple-search
          aidbox.sci}

 aidbox
 {:zen/tags #{sty/env}
  :base-url "https://edgeniquola.edge.aidbox.app"
  :basic-auth {:user "basic" :password "secret"}}

 ;; devbox
 ;; {:zen/tags #{sty/env}
 ;;  :base-url "https://locahost:8080"
 ;;  :basic-auth {:user "basic" :password "secret"}}
 }
