{ns aidbox.patient-track
 import #{sty}

 case
 {:zen/tags #{sty/case}
  :title "Patient track"
  :steps
  {
   :create
   {:desc  "create"
    :action {:type sty/http
             :method :post
             :url "/Patient"
             :body {:resourceType "Patient"}}
    :matches {:type sty/matcho
              :status 201
              :body {:meta {:lastUpdated sty/string?
                            :versionId sty/string?}}}}

   :read
   {:desc  "read"
    :aciton {:type sty/http
             :method :get
             :url (str "/Patient/" (get-in sty/state [:create :body :id]))}
    :matches {:type sty/matcho
              :status sty/ok?
              :body {:id (get-in sty/state [:create :body :id])
                     :meta {:lastUpdated sty/string?
                            :versionId sty/string?}}}}
   :read-2
   {:desc  "wrong read"
    :action {:type sty/http
             :method :get
             :url (str "/Patient/" (get-in sty/state [:create :body :id]))}
    :matches {:type sty/matcho
              :status sty/ok?
              :body {:id (str "UPS-" (get-in sty/state [:create :body :id]))}}}
   }
  }
 }
