{ns aidbox.sci

 import #{sty}

 case
 {:zen/tags #{sty/case}
  :title "Test case"
  :data {:my-id "pt-1"}

  :steps
  {:sci
   {:action {:method :get :uri (sty/url "Patient" (get-in sty/case [:data :my-id]))}
    :matches {:body {:id (get-in sty/case [:data :my-id])}}}}}

 }
