{ns aidbox.simple-search
 import #{sty fhir aidbox}

 case
 {:zen/tags #{sty/case}
  :title "Test case"
  :steps
  {:clean
   {:desc "Clear all patients"
    :action {:type aidbox/sql :sql "TRUNCATE patient"}}

   :pts
   {:desc  "Create number of patients"
    :action {:type aidbox/load
             :resources [{:resourceType "Patient" :id "pt-1"}]}}

   :find
   {:action  {:method :get :uri "/Patient/pt-1"}
    :matches {:status 200 :body {:id sty/string?}}}


   :search
   {:action {:method :get :uri "/Patient?name=ups"}
    :matches {:status 200 :body {:entry [{:resource {:id "pt-1"}}]}}}

   :search-with-params
   {:action {:method :get
             :uri "/Patient?name=ups"
             :params {:name "ups"}}
    :matches {:status 200 :body {:entry [{:resource {:id "pt-1"}}]}}}


   :search-with-fhir
   {:action {:type fhir/search
             :resourceType "Patient"
             :params {:name "ups"}}}

   :debug-expr
   {:action {:type sty/print :expression (get-in sty/case [:search-with-fhir])}}

   :debug-path
   {:action {:type sty/print :path [:search-with-fhir]}}


   }}}
