{ns sty
 ;; schemas and models for stresty (sty)

 env
 {:zen/tags #{zen/schema zen/tag}
  :zen/desc "Represents subject (server) under the testing"
  :type zen/map
  :keys {:base-url {:type zen/string}
         :tags {:type zen/set :every {:type zen/string}}
         :headers {:type zen/map :values {:type zen/any}}
         :basic-auth {:type zen/map
                      :keys {:user {:type zen/string}
                             :password {:type zen/string}}}}}

 is-action
 {:zen/tags #{zen/tag}
  :zen/desc "tag for actions"}

 action
 {:zen/tags #{zen/schema}
  :zen/desc "common schema for all actions"
  :schema-key {:key :act}
  :require #{:act}
  :type zen/map
  :keys {:act {:type zen/symbol :tags #{is-action}}}}

 is-matcher
 {:zen/tags #{zen/tag}
  :zen/desc "tag for matchers"}

 matcher
 {:zen/tags #{zen/schema}
  :zen/desc "common schema for all mathers"
  :schema-key {:key :by}
  :type zen/map
  :require #{:by}
  :keys {:by {:type zen/symbol :tags #{is-matcher}}}
  :values {:type zen/any}}

 xstring
 {:zen/tags #{zen/schema}
  :zen/desc "string or code"
  :type zen/case
  :case [{:when {:type zen/string}}
         {:when {:type zen/list}}]}

 http
 {:zen/tags #{is-action zen/schema}
  :zen/desc "action to run http requests"
  :type zen/map
  :require #{:method :url}
  :keys {:method  {:type zen/keyword :enum [{:value :post}
                                            {:value :put}
                                            {:value :get}
                                            {:value :delete}
                                            {:value :option}
                                            {:value :patch}]}
         :url     {:confirms #{xstring}}
         :params  {:type zen/map :values {:confirms #{xstring}}}
         :headers {:type zen/map :values {:confirms #{xstring}}}
         :body    {:type zen/any}}}

 ex!
 {:zen/tags #{is-action zen/schema}
  :zen/desc "action for tests, which always throws exception"
  :type zen/map
  :keys {:message {:type zen/string}}}

 print
 {:zen/tags #{is-action zen/schema}
  :zen/desc "action to debug case state"
  :type zen/map
  :keys {:expression {:type zen/list}
         :path {:type zen/vector}}}


 step
 {:zen/tags #{zen/schema}
  :zen/desc "step schema"
  :type zen/map
  :keys {:id      {:type zen/keyword}
         :desc    {:type zen/string}
         :tags    {:type zen/set :every {:type zen/string}}
         :do      {:confirms #{action}}
         :match   {:confirms #{matcher}}}}

 case
 {:zen/tags #{zen/schema zen/tag}
  :zen/desc "case schema"
  :type zen/map
  :keys {:title {:type zen/string}
         :desc  {:type zen/string}
         :tags  {:type zen/set :every {:type zen/string}}
         :steps {:type zen/vector
                 :every {:confirms #{step}}}}}

 matcho
 {:zen/tags #{is-matcher zen/schema}
  :zen/desc "matcho mather"
  :type zen/map
  :values {:type zen/any}}

 predicate {:zen/tags #{zen/tag}
            :zen/desc "tag for matcho predicates"}

 string?    {:zen/tags #{predicate}}
 number?    {:zen/tags #{predicate}}
 integer?   {:zen/tags #{predicate}}
 empty?     {:zen/tags #{predicate}}
 not-empty? {:zen/tags #{predicate}}
 any?       {:zen/tags #{predicate}}

 ok? {:zen/tags #{predicate}
      :zen/desc "tests that number (http status) is between 200-300"}


 ;; sty rpc
 op  {:zen/tags #{zen/tag zen/schema}
      :zen/desc "rpc operation base"
      :type zen/map
      :keys {:params {:confirms #{zen/schema}}
             :result {:confirms #{zen/schema}}}}

 echo
 {:zen/tags #{op}
  :zen/desc "echo operation to test rpc api"}

 get-namespaces
 {:zen/tags #{op}
  :zen/desc "get namespaces with cases to run on UI"}

 get-case
 {:zen/tags #{op}
  :zen/desc "get stresty case to run on UI"
  :params {:type zen/map
           :keys {:case {:type zen/string}}}}

 run-tests
 {:zen/tags #{op}
  :zen/desc "Run selected tests"
  :params {:type zen/map
           :keys {:tags    {:type zen/set    :every {:type zen/string}}
                  :pattern {:type zen/string}}}}

 run-cases
 {:zen/tags #{op}
  :zen/desc "Run specific cases"
  :params {:type zen/map
           :keys {:cases  {:type zen/vector :every {:type zen/symbol :tags #{case}}}
                  :envs {:type zen/vector :every {:type zen/symbol :tags #{env}}}
                  :tags {:type zen/set :every {:type zen/string}}}}}

 run-steps
 {:zen/tags #{op}
  :zen/desc "Run specific cases"
  :params {:type zen/map
           :keys {:envs {:type zen/vector :every {:type zen/symbol :tags #{env}}}
                  :case   {:type zen/symbol :tags #{case}}
                  :tags   {:type zen/set :every {:type zen/string}}
                  :steps  {:type zen/vector :every {:type zen/keyword}}}}}

 gen
 {:zen/tags #{op}
  :zen/desc "generate project and cases"
  :params {:type zen/map
           :keys {:project {:type zen/string}}}}

 ;; sty server
 rest-op  {:zen/tags #{zen/tag}}
 index-op {:zen/tags #{rest-op}}

 rpc-op   {:zen/tags #{rpc-op}
           :zen/desc "rpc endpoint, accept json and transit formats trho content-type header"}

 get-rpc-op   {:zen/tags #{rpc-op}
               :zen/desc "rpc endpoint, accept json and transit formats trho content-type header"}

 api
 {:zen/desc "Server routes"
  :static-dir "static"
  :routes {:get index-op
           "rpc" {:post rpc-op
                  :get  get-rpc-op}}}

 ;; sty cli
 cli
 {:zen/desc "CLI interface"}

 cli-cmd
 {:zen/tags #{zen/tag zen/schema}
  :zen/desc "schema for cli commands"
  :type zen/map
  :keys {:cli/name {:type zen/string :zen/desc "Command name"}
         :params {:confirms #{zen/schema}
                  :type zen/map
                  :keys {:keys {:type zen/map
                                :values {:type zen/map
                                         :keys {:cli/name  {:type zen/string :zen/desc "Command name"}
                                                :cli/example {:type zen/string}
                                                :cli/default {:type zen/string}
                                                :cli/alias {:type zen/string}}}}}}}}

 cli-gen
 {:zen/tags #{cli-cmd}
  :cli/name "gen"
  :zen/desc "generate project and cases"
  :params {:type zen/map
           :require #{:project}
           :keys {:project {:type zen/string
                            :zen/desc "name of project"
                            :cli/example "my.project"
                            :cli/alias "pr"}}}}

 cli-help
 {:zen/tags #{cli-cmd}
  :cli/name "show help"
  :zen/desc "stresty help"
  :params {:type zen/map
           :keys {}}}

 cli-check
 {:zen/tags #{cli-cmd}
  :cli/name "check"
  :zen/desc "check syntax of test project"
  :params {:type zen/map
           :keys {:ns {:type zen/vector
                       :cli/example "us-core.patient,us-core,encounter"
                       :zen/desc "Namespaces to check"
                       :every {:type zen/string}}}}}

 cli-server
 {:zen/tags #{cli-cmd}
  :cli/name "server"
  :zen/desc "run server with ui"
  :params {:type zen/map
           :keys {:port {:type zen/integer
                         :zen/desc "port to listen"
                         :cli/example "8080"
                         :cli/default "8080"
                         :cli/alias "p"}}}}

 cli-test
 {:zen/tags #{cli-cmd}
  :cli/name "test"
  :zen/desc "run tests"
  :params {:type zen/map
           :keys {:tag {:cli/alias "tg"
                        :zen/desc "tags list, run only cases and envs with this tags"
                        :type zen/vector
                        :every {:type zen/string}}
                  :case {:zen/desc "cases list, run only listed cases"
                         :cli/alias "cs"
                         :type zen/vector
                         :cli/example "us-core.patient/crud"
                         :every {:type zen/string}}
                  :ns {:type zen/vector
                       :zen/desc "namespaces list, run tests from this list"
                       :cli/example "us-core.patient,us-core.encounter"
                       :every {:type zen/string}}
                  :env {:type zen/vector
                        :zen/desc "envs list, run specific enviroments"
                        :cli/alias "e"
                        :cli/example "servers/aidbox"
                        :every {:type zen/string}}
                  :report {:type zen/string
                           :cli/alias "r"
                           :zen/desc "report format (html, json)"
                           :enum [{:value "html"} {:value  "json"}]}
                  :output {:type zen/string
                           :zen/desc "File to output report"
                           :cli/alias "o"
                           :cli/example "logs/report.html"}
                  :format {:type zen/string
                           :zen/desc "tests output format (compact, default, detailed)"
                           :cli/alias "fmt"
                           :cli/default "default"
                           :enum [{:value "compact"}
                                  {:value "default"}
                                  {:value "detailed"}]}}}}}
