{ns stresty.testcase
 import #{sty}

 env {:zen/tags #{sty/env}
      :base-url "http://localhost:7777"
      :basic-auth {:user "user" :password "pwd"}}

 case-1
 {:zen/tags #{sty/case}
  :steps
  [{:id :echo
    :do {:act sty/http :method :get :url "/echo"}
    :match {:by sty/matcho :status 200 :body {:uri "/echo"}}}

   {:do {:act sty/http
         :method :get
         :url (get-in sty/state [:echo :body :uri])
         :params {:param "value"}}
    :match {:by sty/matcho
            :status 200
            :body {:uri sty/string?}}}

   {:id :print
    :do {:act sty/print
         :path [:echo :body]}}

   {:id :print-2
    :do {:act sty/print
         :expression {
                      ;; :case (get-in sty/case [])
                      :state (get-in sty/state [])
                      :env  (get-in sty/env [])
                      :data (get-in sty/state [:echo :body])}}}

   ]}

 }
